body {
	background: white;
}
.instagram-post-layout{
	display: flex;
    flex-direction: column;
    width: 500px;
}
.post-title {
	display: flex;
	align-items: center;
}
h4 {
	margin: 0;
}
.rigo-title{
	margin: 0;
}
.post-header{
	display: flex;
	justify-content: space-between;
}
.header-options{
	padding-top: 10px;
}
.bookmark{
	display: flex;
	justify-content: right;
}
.reactions{
	display: flex;
	justify-content: space-between;
	margin-block-start: .5rem;
}